extends ../layout

block content
	h1 Clientes
	br
	table(class="table table-striped table-hover")
		thead
			th ID
			th Nome Do Cliente
			th Email do Cliente
			th Editar
			th Excluir
		tbody
			tr
				td 1
				td Lucas Marcell
				td lucasmarcell@outlook.com
				td 
					a(href="/") +
				td 
					a(href="/") -
			tr
				td 2
				td Marcell Lucas
				td lmarcell18@gmail.com
				td 
					a(href="/") +
				td 
					a(href="/") -
			tr
				td 3
				td Lucas M
				td lmmm_7@hotmail.com
				td 
					a(href="/") +
				td 
					a(href="/") -
	br
	button(class="btn btn-primary") Novo 